<div class="footer row">
  <div class="footer-links">
    <a href="https://github.com/fematarazzo/sobrou_app"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Mude seu consumo.
    <%= image_tag "logo_sobrou.png", alt: "Sobrou App", height: 60, width: 100%>
  </div>
</div>
