<div class="container mt-4">

  <%= simple_form_for @order do |f| %>
    <%= f.input :rating %>
    <%= f.input :description_rating %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
