<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <%= render 'sidebar' %>
    <div class="container">
        <div class= "row d-flex justify-content-center">
          <div class="card-dish m-3 p-3 card-border" style="width: 70%">
            <h1 style="font-family:Open Sans">Olá!</h1>
            <p style="font-family:Open Sans"> Nesta página você encontra tudo sobre os seus dados cadastrados, seus pratos disponíveis e pedidos.</p>
            <p style="font-family:Open Sans"> Obrigado por fazer parte desta revolução :) </p>
          </div>
            <div class= "row d-flex justify-content-center">
            <div class="card-dish m-3 p-3 card-border" style="width: 70%">
              <div class="row d-flex justify-content-center">
                <div class="card mx-3 p-3 card-main card-border col-12 col-lg-5 flex-column">
                  <h1 style="font-family:Open Sans">Adicione a refeição que sobrou aqui:</h1>
                  <p >Conte-nos um pouco sobre a comida que você oferecerá em suas bolsas mágicas e prepare-se para começar a economizar seu excedente de comida.</p>
                  <button type="button" class="btn btn-bg" data-toggle="modal" data-target="#exampleModal">
                    Adicione o prato
                  </button>
                  <div class="modal fade rounded" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg rounded">
                      <div class="modal-content rounded">
                        <%= render 'dishes/new' %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mx-3 p-3 card-main card-border col-12 col-lg-5 flex-column">
                  <h1 style="font-family:Open Sans">Acompanhe os pedidos de hoje:</h1>
                  <p> Aqui você pode acompanhar quais pedidos você têm em andamento, qual é o horário de coleta, tipo de refeição e o nome do cliente que irá recolher.</p>
                  <%= link_to "Seus pedidos", restaurant_index_today_path(@restaurant), class:"btn btn-bg mt-auto"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
