<h1>Veja todos os restaurantes abaixo:</h1>
<p>Confirma a seleção de restaurantes que encontramos para você!</p>

<% @restaurants.each do |restaurant| %>
  <p>Nome: <%= restaurant.name %> </p>
  <p>Endereço: <%= restaurant.address %> </p>
<% end %>
