<div class="container mt-4">
  <h1 class="my-3">Gerencie seus restaurantes:</h1>

  <% @restaurants.each do |restaurant| %>
    <div class="card-product my-4 row">
      <div class="col-2">
        <%= cl_image_tag restaurant.photo.key, height: 300, width: 300, crop: :fill%>
      </div>
      <div class="card-product-infos col-6">
        <h3><%= restaurant.name %></h3>
        <h5><strong>Endereço: </strong><%= restaurant.address %> </h5>
      </div>
      <div class="col-4">
        <%= link_to "Dashboard de #{restaurant.name}", restaurant_dashboard_path(restaurant), class:"btn-flat" %>
      </div>
    </div>
  <% end %>
</div>
