<div class="container mt-4">
  <h1 class="my-3">Gerencie seus restaurantes:</h1>

  <% @restaurants.each do |restaurant| %>
    <div class="card-product my-4 row">
      <div class="col-2">
        <%= cl_image_tag restaurant.photo.key, height: 300, width: 300, crop: :fill %>
      </div>
      <div class="card-product-infos col-7">
        <h2><%= restaurant.name %></h2>
        <p>Endereço: <%= restaurant.address %> </p>
      </div>
      <div class="col-3">
        <%= link_to "Dashboard de #{restaurant.name}", restaurant_dashboard_path(restaurant), class:"btn-flat" %>
      </div>
    </div>
  <% end %>
</div>
