<div class="banner-g" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://blog.cgtsolucoes.com/wp-content/uploads/2018/08/230935-conheca-x-negocios-lucrativos-com-baixo-investimento.jpg');">
  <div class="container mt-4">
    <div class="card-form p-4 card-border">
      <h1 class="mb-3">Cadastre o seu restaurante:</h1>
      <p>Vamos juntos combater o despedício de comida e, ao mesmo tempo, gerar mais receita para o seu negócio!</p>
      <%= render 'form', restaurant: @restaurant  %>
    </div>
  </div>
</div>

