.banner {
  background-size: auto;
  background-position: 50% 70%;
  padding: 80px 0 30px 0;
}

.banner h1 {
  margin: 0;
  color: #95d7ae;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-area {
  color: white;
  font-size: 38px;
}

.banner-g {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  color: #454851;
}

.banner-registration {

}
