.bg-gradient-4 {
    background: #95d7ae;
    background: -webkit-linear-gradient(to right, #007991, #95d7ae);
    background: linear-gradient(to right, #007991, #95d7ae);
    width: 30px;
    height: 50px;
}
