.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #95d7ae;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #7bae7f;
  color: white;
  text-decoration: none;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-primary {
  width: 400px;
}


.btn-dashboard {
    display: inline-block;
    font-weight: 400;
    color: #0E0000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #95d7ae;
    border: 2px solid transparent;
    padding: 0.475rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2px;
    margin-bottom: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.decoration-none{
    text-decoration:none;
    &:hover{color:black; text-decoration:none;}
    border-radius: 10px;
}

.btn-segundo {
  width: 650px;
}

.btn-dashboard:hover {
  text-decoration: none;
  background-color: #7bae7f;
}

.btn-edit {
  width: 200px;
  background-color: #fbfaca;
  color: black;
}

.btn-edit:hover {
  width: 200px;
  background-color: #faf67b;
  color: black;
}


.btn-delete {
  width: 200px;
  background-color: #F9C0C0;
  color: black;
}

.btn-delete:hover {
  width: 200px;
  background-color: #FEA8A9;
  color: black;
}


.btn-bg {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #95d7ae;
  background: -webkit-linear-gradient(to right, #007991, #95d7ae);
  background: linear-gradient(to right, #007991, #95d7ae);
  transition: background 0.3s ease;
}

.btn-chat {
  width: 200px;
  background-color: #bfd5e3;
  color: black;
}

.btn-chat:hover {
  width: 200px;
  background-color: #CDDCF9;
  color: black;
}
