.card-border { box-shadow: 3px 3px 3px 3px white;
   border-radius: 20px;
 }

.card-model {
  width: 1000px;
  margin-bottom: 15px;
}

.card {
  width: 1000px;
}

.card-form {
  width: 400px;
  background-color: white;
}


.mb-3 {
  color: #454851;
}

.card-profile-menu{
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 229, 229);
}

.card-border-profile { box-shadow: 3px 3px 3px 3px rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(111, 173, 101);
  color: white;
}

.accordion-card{
  box-shadow: 0px 5px 10px #1d1d1d69;
  background-color: white;
  border-radius: 12px;
  padding:10px 15px;
  display: flex;
  align-items: center;

}
