.card-border { box-shadow: 1px 1px 2px 1px lightgrey;
   border-radius: 15px;
 }

.card-model {
  width: 1000px;
  margin-bottom: 15px;
}

.card {
  width: 1000px;
}

.card-form {
  width: 400px;
  background-color: white;
}


.mb-3 {
  color: #454851;
  margin: 10px 0;
}

.mb-3:hover {
  color: black;
  text-decoration: none;
}



.card-profile-menu{
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 229, 229);
}

.card-border-profile { box-shadow: 3px 3px 3px 3px rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(111, 173, 101);
  color: white;
}

.accordion-card{
  box-shadow: 0px 5px 10px #1d1d1d69;
  background-color: white;
  border-radius: 12px;
  padding:10px 15px;
  display: flex;
  align-items: center;
 }


.card-dish {
  width: 900px;
  background-color: white;
}

.card-space {
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;

}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.card-title {
  color: #7bae7f;
}

.card-title:hover {
  color: green;
}


.card-category{
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-fill{
  color: white;
  background-color: #95ce95;
  font-weight: bold;
  border-radius: 7px;
}

.card-show-rest {
  width: 900px;
}

