.fa-square{
  color: black;
  text-align: center;
  width: 100%;
}
.fa-check-square {
  color: black;
  text-align: center;
  width: 100%;
}

.fa-comments{
  color: black;
  text-align: center;
  width: 100%;
}
