.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-link {
  color: #95d7ae;
  border: none;
  text-decoration: none;
}

.map-link:hover {
  color: #7bae7f;
  border: none;
  text-decoration: none;
}
