.sidebar { position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #454851;
     }

a {
    color: white;
    text-decoration: none;
    background-color: #454851;
}
